<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vic.init.mapper.MUserMapper" >
    <resultMap id="userWithOrderMap" type="cn.vic.init.bean.MUser">
        <id property="id" column="uid" javaType="java.lang.Long"></id>
        <result property="username" column="username" javaType="java.lang.String"></result>
        <result property="age" column="age" javaType="java.lang.Integer"></result>
        <collection property="orderList" javaType="java.util.List" ofType="cn.vic.init.bean.Order">
            <id property="id" column="oid" javaType="java.lang.Long"></id>
            <result property="orderNo" column="order_no" javaType="java.lang.String"></result>
            <result property="price" column="price" javaType="java.math.BigDecimal"></result>
        </collection>
    </resultMap>

    <select id="selectByIdWithOrder" parameterType="java.lang.Long" resultMap="userWithOrderMap">
        SELECT u.id AS uid, u.username, u.age, o.id AS oid, o.order_no, o.price
        FROM tb_user u
        JOIN tb_order o ON u.id = o.uid
        WHERE u.id = #{id}
    </select>
</mapper>